.layout {
  width: 100%;
  height: 100vh;

  .layoutheadertop {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .layoutcontent {
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100%;
    position: relative;
    .ctleft {
      position: fixed;
      top: 50px;
      left: 0;
      z-index: 999;
      height: 100%;
      width: 200px;
    }
    .content {
      width: 100%;
      padding: 24px;
      position: absolute;
      top: 50px;
      height: 100%;
      max-height: calc(100% - 50px);

      .labdetail {
        .header {
          font-size: 24px;
          font-weight: 600;
          color: #3475e3;
        }
        .profile {
          margin-top: 10px;
          display: flex;
          background-color: rgb(238, 244, 255);
          justify-content: space-between;
          padding: 20px 30px;
          .profileuser {
            height: 100px;
            width: 100px;
            object-fit: cover;

            img {
              height: 100%;
              width: 100%;
            }
          }
          .profilefuntion {
            .contact {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
