.labsParent {
  display: flex;
  justify-content: flex-start;
  span {
    font-weight: 600;
    font-size: 18px;
  }
  .labscontent {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .labscontentChild {
      margin-top: 10px;
      padding: 10px 30px;
      .labschildren {
        position: relative;
        .approve-status {
          .ant-tag {
            font-size: 12px;
          }
          position: absolute;
          top: 10px;
          right: 0;
        }
      }
    }
  }
}

.student-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  span:first-child {
    font-size: 40px;
  }
  span:nth-child(2) {
    font-size: 16px;
    color: grey;
  }
}

.info-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .detail-info {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: stretch;
    align-items: center;
    column-gap: 12px;
    font-size: 16px;
    .detail-left {
      width: 100%;
      padding: 12px;
      background: #ebf1f3;
      font-weight: 500;
      border-radius: 4px;
    }
  }
}

.ant-drawer-header {
  &-title {
    flex-direction: row-reverse;
    button {
      margin-inline-end: 0 !important;
    }
  }
}

.ant-avatar {
  span {
    transform: translate(0, -10px);
  }
}
.labdetail {
  .ant-collapse-header {
    align-items: center !important;
  }
}
