.headertop {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid black;

  .hdleft {
    width: 100px;
    height: 100%;
    object-fit: cover;
    .img {
      width: 480px;
      height: 50px;
      display: flex;
      align-items: center;
      img {
        width: 10%;
      }
      .img-title {
        margin-left: 10px;
        height: 50px;
        line-height: 50px;
        margin-bottom: -4px;
        text-transform: uppercase;
      }
    }
  }
  .hdright {
    cursor: pointer;
  }
}
