.project {
  display: flex;
  gap: 24px;
  flex-direction: column;
  .title-header-project {
    font-size: 20px;
  }
  .column-name-project {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.project-children {
  display: flex;
  gap: 24px;
  flex-direction: column;
  .project-children-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .project-info-card {
      min-width: 150px;
      padding: 12px;
      height: 100px;
      border-radius: 8px;
      box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      div:nth-child(1) {
        font-weight: 700;
      }
      div:nth-child(2) {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }
}

.input-field {
  & > div:first-of-type {
    margin-bottom: 8px;
    &::after {
      display: inline-block;
      margin-inline-start: 2px;
      color: #ff4d4f;
      font-size: 16px;
      line-height: 1;
      content: '*';
    }
  }
  &.project-listStudents,
  &.project-listTeachers {
    position: relative;
    .people-picker {
      position: absolute;
      background-color: white;
      z-index: 10;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      width: 100%;
      max-height: 300px;
      overflow: auto;
      .ant-list-item {
        padding: 4px 0;
      }
      .people-item:hover {
        background-color: rgb(218, 244, 255);
        cursor: pointer;
      }
      .people-item.selected {
        background-color: rgb(186, 234, 255);
      }
    }
  }
}

.info-container {
  .detail-content {
    margin-top: 12px;
    .detail-content-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .detail-content-body {
      font-size: 14px;
      color: grey;
      &.has-file {
        padding: 8px;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 4px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.ant-picker {
  width: 100%;
}
